body {
   background: white;
}
h2 {
    font-size: 120%;
}
p {
    margin-top: 0;
    margin-bottom: 0em;
}
#perf .title {
    left: 14em;
}
#perf .title input {
    width: auto;
}
#perf span {
    position: absolute;
    left: 14em;
}
#perf label {
    position: absolute;
    left: 18em;
}
#perf input {
    width: 4em;
}
#summary {
    margin-bottom: 1em;
}
#summary label {
    position: absolute;
    left: 14em;
}
#summary span.result {
    position: absolute;
    display: inline-block;
    left: 18em;
}
#results {
    margin-left: 7em;
}
#results tbody td {
    text-align: right;
    padding-right: 1em;
}
#charts {
    position: absolute;
    top: 0;
    left: 24em;
}
span.sqrt:before {
    content: "\00221a"; /* square root radical */
}
